@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1320px;
  margin: auto;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightcyan;
  padding: 25px;
}
.inputs .title {
  background-color: #fff;
  color: rgb(0, 0, 37);
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border: 1px solid rgb(0, 0, 37);
  border-radius: 10px;
  margin-right: 7px;
}
.input-container {
  background-color: #fff;
  border: 1px solid rgb(0, 0, 37);
  padding: 7px;
  margin-right: 8px;
  border-radius: 10px;
}
.input-container input {
  background-color: #fff;
  width: 350px;
  padding: 10px;
  font-size: 19px;
  border: none;
  outline: none;
}
.input-container button {
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 37);
  color: #fff;
  border-radius: 10px;
}

.data-table {
    border-color: lightcyan;
    padding: 25px;

}

table{
    width: 100%;

}
table,
th,
td {
    border: 1px solid rgb(0, 0, 37);
    border-collapse: collapse;

}

th,
td {
    padding: 5px;
}

.no-data {
    text-align: center;
    font-weight: 500;
}